<!-- Recommended Courses Section -->
<div class="courses-section">
    <h2 class="courses-title">Recommended Projects</h2>
    <div class="courses-container">

        <div class="course-card">
            <img src="/assets/images/login.png" alt="Course 1">
            <h3>Login Form</h3>
            <p>
                Upgrade your project with this sleek, responsive login form designed using only HTML and CSS. 
              </p>
              
               <a href="project/login" class="btn">Explore</a>
        </div>

        <div class="course-card">
            <img src="/assets/images/sidebar.png" alt="Course 2">
            <h3>Sidebar</h3>
            <p>
                Upgrade your web app’s navigation experience with this sleek and responsive sidebar.
            </p>
              
            <a href="/project/sidebar" class="btn">Explore</a>
        </div>

        <div class="course-card">
            <img src="/assets/images/navbar.png" height="500px" alt="Course 3">
            <h3>Navbar</h3>
            <p>Understand cybersecurity principles and best practices.</p>
            <a href="/project/navbar" class="btn">Explore</a>
        </div>
        
        <!-- <div class="course-card">
            <img src="/images/course4.jpg" alt="Course 4">
            <h3>Python for Data Science</h3>
            <p>Analyze and visualize data using Python and machine learning.</p>
            <a href="#" class="btn">Explore</a>
        </div> -->
    </div>
</div>
