<div class="banner">
    <div class="description">
      <div class="static-text">Transform Your Future with:</div>
      <h2 class="animated-texts">
        <div>Learn</div>
        <div>Achieve</div>
        <div>Excel</div>
        <div>SUCCEED!</div>
      </h2>
      <p>
        Your ultimate resource hub for 
        <span class="highlight">free notes</span>, 
        <span class="highlight">past question papers</span>, 
        and <span class="highlight">essential coding tools</span>. 
        Whether you're preparing for exams or need practical coding assistance, 
        we provide everything you need to 
        <span class="highlight">succeed academically</span> and enhance your skills.
      </p>
    </div>
    <img src="assets/images/banner.png" alt="Tech Theme Banner">
  </div>
  