/* You can add global styles to this file, and also import other style files */
/* Global Styles */
* {
    box-sizing: border-box;
  }
  
html, body {
    overflow-x: hidden;
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
/* Medium Screens (Tablets) */
@media (max-width: 1024px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .banner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;
        max-width: 100%;
        overflow: hidden;
      }
      
      .banner-content {
        flex: 1 1 300px;
        max-width: 500px;
        text-align: center;
      }
      
      .banner img {
        flex: 1 1 300px;
        max-width: 500px;
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
      }
      
      
  
    .description {
      margin: 0 auto;
    }
  
    .notes-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .blog-card {
      width: 90%;
    }
  }
  
  /* Small Screens (Phones) */
  @media (max-width: 768px) {
    header .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .logo-text {
      font-size: 28px;
    }
  
    .description p {
      margin: 1rem 0;
      font-size: 16px;
    }
  
    .notes-grid {
      grid-template-columns: 1fr;
    }
  
    .blog-card {
      width: 100%;
    }
  
    .footer-top {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .animated-texts {
      left: 0;
      position: relative;
    }
  
    .founders-container {
      flex-direction: column;
      align-items: center;
    }
  }
  